{% extends 'base.html' %}

{% block title %}{{ pet.name }}{% endblock %}

{% block header %}{{ pet.name }}!{% endblock %}

{% block content %}
  <div>
    <img src="{{pet.photo_url}}" style="width: 200px" class="h-100 p-3">
  </div>
  <p>Species: {{ pet.species }}</p>
  <p>Age: {{ pet.age }}</p>
  
  <form action="/{{ pet.id }}" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form 
                if field.widget.input_type != 'hidden' %}
    
    <p>
      {{ field.label  }}
      {{ field  }}
    
      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </p>
    
    {% endfor %}
    <button>Edit</button>
  </form>
{% endblock %}